<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Bootstrap 4 Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <title>Eventista</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="container-fluid bclr text-light">
      <div class="row">
        <div class="col-2 mt-2 pl-5">
          <a  class="linktext" href="/"><span class="evntis">Eventista</span></a>
        </div>
        <div class="col-6 mt-2 text-left">
          <div class="inp">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-search" aria-hidden="true"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search for Events..."
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="col-4">
          <ul class="items">



            <% if( username == "")  { %> 
              <li class="">
              <a href="/login"
                ><button class="btn-info mybtn">Log In</button></a>
              </li>
           <% } else  { %>   
              
          <%  if(role == "organiserProfile") { %>
              <li class="">
              <a href="/createEvent/<%= username %>" ><button class="btn-info mybtn">Create Event</button></a>
              </li>
            <% } %>

            <li class="">
            <a href="/<%= role %>/<%= username %>"
            ><button class="btn-info mybtn">Hi ,<%= username %></button></a>
          </li>
           <% } %> 

  
          </ul>
        </div>
      </div>

    </div>
    <!-- Navbar end -->

    <img class= "bg-image BG" src= "/<%= eventPoster %>"  alt="Event Background">

    <div class="page-content">
      <div class="container py-1">

        <div class="row p-1">

            <div class="col-lg-3 col-md-3">
                <div class="card" >
                    <img src= "/<%= eventPoster %>" class="rounded float-start" alt="Event Poster">
                </div>
            </div>

            <div class="col-9 px-4">
                <div class="card">
                    <div class="card-block p-2 m-2">
                        <h2 class="card-title display-4"> <%= EveName %> </h2>
                        <p class="display-5">Category: <%= Category %> </p>
                        <p class="card-text "> 
                            Date: <%= DEve %>  <br>
                            Venue: <%= venue %>  <br>
                            Registration Deadline:<%= deadL %>  <br>
                            Maximum Participant: <%= maxP %>  <br>
                            Organiser's username: <a class="orgUsername" href="/showProfile/<%= organiser %> " style="font-weight: bold; "><%= organiser %></a>  
                        </p>
            
                        <%  if(role == "attendeeProfile") { %>

                          <a href="/booking/<%= EId %> " class="btn btn-primary mt-2">Book Now</a>
                        <form action="/description/<%= EId %>" method="post">
                          <button type="submit" class="btn btn-primary" style="float:right">
                            <i class="far fa-bookmark"></i> Bookmark for Later
                          </button>
                        </form>
                         
                        <% } %>
                        
                        
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="container py-2  card">
        <section >
            <h1 class="display-4">Description</h1>
            <p>
                <%= descp %> 
                <br>
                <ul class="social">
                  <li class="social mx-2">
                    <i class="fab fa-instagram w3-xlarge"></i> <%= Instagram %>
                  </li>
                  <li class="social mx-2">
                    <i class="fab fa-facebook-square w3-xlarge"></i> <%= Facebook %>
                  </li>
                  <li class="social mx-2">
                    <i class="fab fa-twitter w3-xlarge"></i> <%= Twitter %>
                  </li>
                </ul>
        
            </p>
        </section>
    </div>
    <br>

    </div>
    
    <%- include("footer"); -%>
